parameters:
    level: 5
    treatPhpDocTypesAsCertain: false
    paths:
        - bin/
        - config/
        - public/
        - src/
        - tests/
    ignoreErrors:
        - identifier: property.unusedType
        - identifier: return.unusedType
